version: '3'
services:
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - /etc/docker-compose/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    restart: always

  grafana:
    image: grafana/grafana:latest
    volumes:
      - /etc/docker-compose/grafana:/etc/grafana
    ports:
      - "3000:3000"
    restart: always

  loki:
    image: grafana/loki:latest
    volumes:
      - /etc/docker-compose/loki-config.yml:/etc/loki/loki-config.yaml:ro
    ports:
      - "3100:3100"
    restart: always

  promtail:
    image: grafana/promtail:3.2.1
    volumes:
      - /var/log:/var/log
      - /etc/docker-compose/promtail-config.yml:/etc/promtail/promtail-config.yml:ro
    command: -config.file=/etc/promtail/promtail-config.yml
    restart: always

