server:
  http_listen_port: 3100  # Порт Loki

positions:
  filename: /tmp/positions.yaml  # Хранение информации о позициях логов

clients:
  - url: http://localhost:3100/loki/api/v1/push  # Отправка данных в Loki (можно указать другой сервер)

scrape_configs:
  - job_name: "rsyslog"
    static_configs:
      - targets:
          - localhost
        labels:
          job: "rsyslog"
          host: "my-server"

    # Включаем прием логов через UDP (если нужно)
    syslog:
      listen_address: 0.0.0.0:1514
      idle_timeout: 60s
      labels:
        job: "syslog"
