##############################
####  ОТПРАВКА ЛОГОВ НА СЕРВЕР  ####
##############################

# Отправка логов по TCP
*.* @@10.128.0.21:514

# Отправка логов по UDP
*.* @10.128.0.21:514

##############################
####  ЛОКАЛЬНОЕ ЛОГИРОВАНИЕ  ####
##############################

# Также сохраняем логи локально
auth,authpriv.*          /var/log/auth.log
*.*;auth,authpriv.none   -/var/log/syslog
cron.*                   /var/log/cron.log
daemon.*                 /var/log/daemon.log
kern.*                   /var/log/kern.log
lpr.*                    /var/log/lpr.log
mail.*                   -/var/log/mail.log
