##############################
####  МОДУЛИ  ####
##############################

# Включаем поддержку приема логов по UDP и TCP
module(load="imudp")
input(type="imudp" port="514")

module(load="imtcp")
input(type="imtcp" port="514")

# Включаем поддержку локального логирования
module(load="imuxsock")  # Локальные сокеты
module(load="imklog")    # Логирование ядра

##############################
####  ГЛОБАЛЬНЫЕ НАСТРОЙКИ  ####
##############################

# Используем традиционный формат временных меток
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

# Фильтр дублирующихся сообщений
$RepeatedMsgReduction on

# Устанавливаем права доступа к лог-файлам
$FileOwner syslog
$FileGroup adm
$FileCreateMode 0640
$DirCreateMode 0755
$Umask 0022
$PrivDropToUser syslog
$PrivDropToGroup syslog

# Директория для хранения временных файлов
$WorkDirectory /var/spool/rsyslog

##############################
####  ПРИЕМ ЛОГОВ ОТ КЛИЕНТОВ  ####
##############################

# Сохраняем все удаленные логи в отдельную папку
$template RemoteLogs,"/var/log/remote/%FROMHOST-IP%.log"

# Логи от всех удаленных клиентов
*.* ?RemoteLogs

# Также можно записывать все логи в один общий файл (если нужно)
*.* /var/log/remote/all_clients.log

##############################
####  ЛОГИРОВАНИЕ ЛОКАЛЬНЫХ СООБЩЕНИЙ  ####
##############################

# Логирование стандартных системных сообщений
auth,authpriv.*          /var/log/auth.log
*.*;auth,authpriv.none   -/var/log/syslog
cron.*                   /var/log/cron.log
daemon.*                 /var/log/daemon.log
kern.*                   /var/log/kern.log
lpr.*                    /var/log/lpr.log
mail.*                   -/var/log/mail.log
user.*                   -/var/log/user.log

##############################
####  ОБЩИЕ ЛОГИ  ####
##############################

# Логи "catch-all"
*.debug;auth,authpriv.none;news.none;mail.none -/var/log/debug
*.info;*.notice;*.warn;auth,authpriv.none;cron.none;daemon.none;mail.none;news.none -/var/log/messages

##############################
####  ВЫВОД НА КОНСОЛЬ  ####
##############################

# Отправляем критические сообщения на консоль tty8
daemon.*,mail.*;news.crit;news.err;news.notice;*.debug;*.info;*.notice;*.warn /dev/tty8
