# Загрузка модулей для приема логов
module(load="imudp")
module(load="imtcp")

# Настройка приема логов по UDP
input(type="imudp" port="514")

# Настройка приема логов по TCP
input(type="imtcp" port="514")

# Сохранение всех полученных логов в файл
*.* /var/log/remote.log
