module(load="imfile")
module(load="omhttp")

input(type="imfile"
      File="/var/log/syslog"
      Tag="syslog"
      Severity="info"
      Facility="local7")

action(type="omhttp"
       server="http://localhost:3100"
       serverport="3100"
       template="RSYSLOG_TraditionalFileFormat"
       headers=["Content-Type: application/json"])
